.title{
    text-align: center;
    padding: 2%;
    color: #007bff;
}
.row{
    margin: 0%;
}
.sub_question{
    padding-left: 5%;
}
span{
    padding-left: 2%;
}
label{
    font-size: 18px;
    font-weight: bold;
}
.options{
    padding-left: 5%;
}
.bottom{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 20px;
}
