<div class="row">
  <div class="col-md-5">
    <p class="title">Investment Readiness Score</p>
    <p class="score">{{scoreData.score}}</p>
    <p class="small-text">To imporve your score check your  
      <a href="/action-items/{{id}}">action items</a>
    </p>
  </div>
  <div class="col-md-7">
    <table>
      <tr>
        <th>CATEGORY</th>
        <th>WEIGHTAGE</th>
        <th>SCORE OBTAINED</th>
      </tr>
      <tr *ngFor="let data of scoreData.scoreByParts; let i = index">
        <td>{{data.categoryName}}</td>
        <td>{{data.weightage}}</td>
        <td>{{data.num}}</td>
      </tr>
    </table>
  </div>
</div>

