<h2>Change Password</h2>
<form [formGroup]="changePassForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="currentPassword">Current Password</label>
    <input type="password" formControlName="currentPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.currentPassword.errors }" />
    <div *ngIf="submitted && f.currentPassword.errors" class="invalid-feedback">
        <div *ngIf="f.currentPassword.errors.required">Current password is required</div>
    </div>
</div>
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" formControlName="newPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
            <div *ngIf="f.newPassword.errors.required">Password is required</div>
            <div *ngIf="f.newPassword.errors.minlength">Password must be at least 8 characters</div>
        </div>
    </div>
    <div class="form-group">
      <label for="password2">Confirm Password</label>
      <input type="password" formControlName="password2" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password2.errors }" />
      <div *ngIf="submitted && f.password2.errors" class="invalid-feedback">
          <div *ngIf="f.password2.errors.required">Password is required</div>
          <div *ngIf="f.password2.errors.minlength">Password must be at least 8 characters</div>
      </div>
      <div *ngIf="f.password2.value !='' && f.password2.value != f.newPassword.value" class="invalid-feedback" style="display: block;">Password not matching</div>
  </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Change</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <a [routerLink]="['/']" class="btn btn-link">Cancel</a>
    </div>
</form>
