.row{
    background-color: #eaf3fa;
    margin: 0%;
}
.login-img{
    height: 545px;
    width: 600px;
}.sub-title{
    text-align: center;
    color: #f4a316;
    padding: 5%;
}
form{
    padding-left: 10%;
}
.form-control{
    width: 80%;
}