<h1 class="title">Hello {{currentUser.firstname}}!</h1>
<div class="row" *ngIf="this.currentUser.role === 'user'">
    <div class="col-md-6">
        <img src="../../assets/images/home_page/Dashboard.jpg" class="image" alt="Dashboard">
    </div>
    <div class="col-md-6">
        <h3 class="sub-title">Investor Readiness Check</h3>
        <p class="text">The questions in our checklist will guide you through the most relevant topics that potential investors are interested in. Think of it like an interview or a conversation with your mentor.
        </p>
        <p class="text">Take your time to read through the different options and chose the one that best describes your current situation.</p>
        <p class="text">After you've gone through all the questions we'll generate a score and give you some action items.</p>
    </div>
    <div class="col-md-12 bottom" *ngIf="!scoreGenerated">
        <a class="btn btn-primary" href="/check-investment-readiness" role="button">Let's Start</a>
    </div>
    <div class="col-md-12 bottom" *ngIf="scoreGenerated">
        <p>Looks like you already have a score.
        <a href="/investment-readiness-score/{{currentUser._id}}" role="button">Click here</a> to check your score card. </p>
    </div>
</div>
<div class="container" *ngIf="this.currentUser.role === 'admin'">
<table>
    <tr>
        <th>Users</th>
        <th>Email</th>
        <th>View score</th>
        <th>view action items</th>
    </tr>
    <tr *ngFor="let data of usersList; let i = index">
        <td>{{data.firstname}} {{data.lastname}}</td>
        <td>{{data.email}}</td>
        <td><a href="/investment-readiness-score/{{data._id}}" role="button">Click here</a></td>
        <td><a href="/action-items/{{data._id}}" role="button">Click here</a></td>
    </tr>
</table>
</div>
    
<!-- </p> -->
<!-- <h3>All registered users:</h3> -->
<!-- <ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul> -->