.title{
    text-align: center;
    padding: 2% 0 5%;
}
.image{
    height: 300px;
    margin: 10px;
}
.sub-title{
    color: #007bff;
}
.text{
    color: rgba(55, 64, 74, 0.7);
    font-size: 20px;
}
.bottom{
    text-align: center;
    padding-top: 2%;
}
.bottom a{
    font-size: 20px;
}
.row{
    margin: 0%;
}
table{
    margin: 20px;
}
th{
    padding: 30px;
    border: 1px solid black;
}
td {
    padding: 5px 30px;
    border: 1px solid black;
}
.container{
    margin: 0 250px;
}