.container{
    background-color: #eaf3fa;
    padding: 0%;
}
.register-img{
    height: 600px;
    width: 600px;
}
.sub-title{
    padding: 5%;
    text-align: center;
    color: #f4a316;
}
form{
    padding-left: 10%;
}
.form-control{
    width: 80%;
}